.slider{
    align-items: center;
    margin: 2rem auto;
    margin-left: 20rem auto;
    margin-right:20rem auto;
    margin-bottom:20rem;
    align-items: center;
    padding: 5px;
    font-family:cursive;
    font:bolder;
    width:65%
}




@media only screen and (max-width: 600px) {
    .slider {
      background-color: lightblue;
      width: 100%;
      /* margin: 2rem auto; */

    }

  }
