.product{
	display: inline-flex;
    align-items: center;
    margin:1rem ;
    margin-bottom:5rem;
    align-items: center;
    padding: 2px;
    font-family:cursive;
    font:bolder;
    width: 25%;

}

@media only screen and (max-width: 600px) {
    .product {
      background-color:none;
      width: 100%;
      display: inline;
      margin-bottom:5rem;

    }

  }